<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    {% if page.extra_css %}
    <style>{{ page.extra_css }}</style>
    {% endif %}
</head>
<body>
    {% unless page.no_canvas %}
    {% include network-canvas.html %}
    {% endunless %}
    
    <div class="content-wrapper">
        {% include nav.html %}
        
        {{ content }}
        
        {% include footer.html %}
    </div>
    
    {% include scripts.html %}
    {% if page.extra_js %}
    <script>{{ page.extra_js }}</script>
    {% endif %}
</body>
</html>
